body {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 12px); /* Eski genişliği */
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
}
